
/* reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;


}

/* green background */
#green-bg{
    background-color: #009688;
    width: 100vw;
    height: 150px;

    position: absolute;
    top: 0;

    z-index: -1;
}

/* gray background */
#gray-bg{
    width: 100vw;
    height: calc(100vh - 150px);

    position: absolute;
    bottom: 0;

    background-color: #d8dbd5;

    z-index: -1;

}

#whatsapp-app-container{
    display: flex;

    margin: 25px 200px;

}

/* -------------------------------------------------------------------------- */
/*                                    aside                                   */
/* -------------------------------------------------------------------------- */

aside{
    display: flex;
    flex-flow: column nowrap;

    width: 560px;
    height: calc(100vh - 50px);

    overflow-y: auto;
    background-color: white;

}

/* -------------------------------------------------------------------------- */
/*                                   navbar                                   */
/* -------------------------------------------------------------------------- */

nav{
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 75px;
    background-color: #eaeaea;

    padding-left: 10px;
    padding-right: 20px;
}

nav #user-app-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

nav #user-app-info img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

nav #navbar-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 1.4em;
}

nav #navbar-icons a{
    text-decoration: none;
    color: #b1b1b1;

}

/* -------------------------------------------------------------------------- */
/*                         aside notification section                         */
/* -------------------------------------------------------------------------- */

#notifications{
    display: flex;
    align-items: center;
    gap: 8px;

    width: 100%;
    height: 80px;
    background-color: #8ddafc;

    padding: 0 15px;
}

#notifications #notification-icon i{
    background-color: white;
    color: #8ddafc;
    
    font-size: 2em;

    border-radius: 50%;

    padding: 15px 12px;

}

#notifications #notification-text{
    display: flex;
    flex-direction: column;
    gap: 3px;

}

#notifications #notification-text a{
    font-size: .8em;
    color: black;
    opacity: .6;
}

/* -------------------------------------------------------------------------- */
/*                          aside search bar section                          */
/* -------------------------------------------------------------------------- */

#search-bar-container{
    display: flex;
    align-items: center;

    width: 100%;
    height: 60px;

    background-color: #fafafa;

    border-bottom: .4px solid lightgray;

}

#search-bar-container form{
    display: flex;
    justify-content: center;
    align-items: center;


    width: 100%;
    padding: 0 8px;
}
#search-bar-container button{
    width: 60px;
    height: 40px;

    color: #b6b8ba;
    background-color: white;

    border: .5px solid lightgray;
    
    font-size: 1.2em;

    cursor: pointer;
}

#search-bar-container input{
    width: calc(100% - 70px);
    height: 40px;

    background-color: white;
    
    border: .5px solid lightgray;
    border-left: none;

    padding: 5px;

    outline: none;
}




/* -------------------------------------------------------------------------- */
/*                           aside contacts section                           */
/* -------------------------------------------------------------------------- */

#contacts-container{
    width: 100%;
    height: calc(100% - 75px - 80px - 60px);

    background-color: white;

}

#contact{
    height: 80px;
    width: 100%;

    padding: 10px 20px;

    border-bottom: .4px solid lightgray;

    cursor: pointer;

}

#contact:hover{
    background-color: #e9ebeb;
}

#contact #contact-info{
    display: flex;
    align-items: center;
    gap: 20px;

    position: relative;
}

#contact #contact-img{
    width: 60px;
}

#contact #contact-img img{
    width: 100%;
    border-radius: 50%;
}

#contact #contact-text{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#contact #contact-text #last-message{
    font-size: .8em;
    opacity: .4;
}

#last-message-time{
    position: absolute;
    top: 2px;
    right: 2px;

    font-size: .8em;
    opacity: .4;
}

/* -------------------------------------------------------------------------- */
/*                                    main                                    */
/* -------------------------------------------------------------------------- */


main{

    width: calc(100vw - 560px);
    height: calc(100vh - 50px);

}


/* -------------------------------------------------------------------------- */
/*                              main top section                              */
/* -------------------------------------------------------------------------- */

main #top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 75px;

    background-color: #eaeaea;

    border-left: 1px solid lightgray;

    padding: 0 20px;
}

/* active contact info  */
#top-section #active-contact-info{
    display: flex;
    align-items: center;
    gap: 10px;
}

#top-section #active-contact-info #active-contact-img{
    width: 60px;
}

#top-section #active-contact-info #active-contact-img img{
    width: 100%;
    border-radius: 50%;
}

#top-section #active-contact-info #active-contact-text{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#top-section #active-contact-info #active-contact-text #active-contact-last-access{
    font-size: .8em;
    opacity: .4;
}


/* icons */

#top-section #main-top-section-icons{
    display: flex;
    gap: 15px;
    font-size: 1.4em;
}

#top-section #main-top-section-icons a{
    text-decoration: none;
    color: #b1b1b1;

}


/* -------------------------------------------------------------------------- */
/*                              main mid section                              */
/* -------------------------------------------------------------------------- */

main #mid-section{
    display: flex;
    flex-direction: column;
    gap: 10px;

    width: 100%;
    height: calc(100% - 150px);
    background-image: url("../img/mine.jpg");

    padding: 50px 20px ;
}

#message{
    max-width: 400px;
    min-width: 200px;

    padding: 20px;

    border-radius: 15px;
}

#message.sent{
    align-self: end;
    background-color: #d5f9ba;
}

#message.received{
    align-self: start;
    background-color: white;
}

/* -------------------------------------------------------------------------- */
/*                             main bottom section                            */
/* -------------------------------------------------------------------------- */

main #bottom-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;

    width: 100%;
    height: 75px;
    background-color: #f3eeea;

    padding: 0 40px;

}

/* main bottom left  */
#bottom-section #bottom-left{
    font-size: 1.6em;
}

#bottom-section #bottom-left a{
    text-decoration: none;
    color: #727a7d;
    
}

/* main bottom mid */
#bottom-section #bottom-mid{
    flex-grow: 1;
}

#bottom-section #bottom-mid input{
    width: 100%;
    height: 50px;

    border: none;
    border-radius: 5px;

    padding: 0 5px;

    outline: none;

}

#bottom-section #bottom-mid input:focus{
    outline: 1px solid gray;

}

/* main bottom right */
#bottom-section #bottom-right{
    font-size: 1.6em;
    
    color: #727a7d;
}

#bottom-section #bottom-right a{
    text-decoration: none;
    color: #727a7d;
    
}